/*insert style here*/

#map {
    height: 450px !important;
}

html,

.header {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
}

body{
    background-color: #cba87d;
    color: #1A1A1A;
    font-family: "open sans", "verdana", "sans-serif";
    margin: 10px;
    text-align: left;
}

.head1{
    text-align: middle;
}

#map2{
    position:auto;
    height: 500px;
    width: 900px;
}

.title_map{
    font-size: 20px;
}